<%- include("header") -%>
    <div class="box" id="heading">
        <h1> <%= ListTitle %></h1>

    </div>

    <div class="box">
        <% for(var i=0;i< newListItems.length;i++){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value=<%=newListItems[i]._id %> onChange="this.form.submit()">
                    <p><%= newListItems[i].name %></p>
                    
                </div>
                <input type="hidden" name="ListName" value="<%= ListTitle %>"></input>

            </form>
               

        
           
         <% }%>

            <form class="item" action="/" method="post">
                <input type="text" name="newItem" placeholder="new item" autocomplete="off">
                <button type="submit" name="list" value="<%= ListTitle %>">+</button>
            </form>


    </div>


    <%- include("footer") -%>

    
